<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="6.2.0" targetFramework="net45" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net45" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net45" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net45" />
</packages>